<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:h="http://www.w3.org/1999/xhtml"
	xmlns:w="http://www.zkoss.org/2005/zk/client"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
	<window vflex="1" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('org.wcoomd.dancer.viewmodel.DancerDecisionVM')"
		style="">
		<div
			style="position: absolute;left:0px;right:0px ;bottom:2px;top:2px;">
			<hbox style="background-color:#efefef;width:99%">
				<vbox>
					<label value="Sessions:" />
					<combobox model="@bind(vm.sessionCombo)"
						selectedItem="@bind(vm.sessionComboSelected)"
						onSelect="@command('selectOriginatorCombo')">
						<template name="model">
							<comboitem value="@bind(each)"
								label="@load(each.name)" />
						</template>
					</combobox>
				</vbox>
				<vbox>
					<label value="Originator:" />
					<combobox model="@bind(vm.originatorCombo)"
						selectedItem="@bind(vm.originatorComboSelected)">
						<template name="model">
							<comboitem value="@bind(each)"
								label="@load(each.name)" />
						</template>
					</combobox>
				</vbox>
				<vbox>
					<label value="Keyword" />
					<textbox value="@bind(vm.keyword)" />
				</vbox>
				<button label="Search!" vflex="1"
					onClick="@command('search')" />
			</hbox>
			<separator />
			<div vflex="1" style="" id="kantong">
				<hlayout vflex="1">
					<div hflex="3" vflex="1">
						<paging id="pgDancer"
							onPaging="@command('paging')"
							activePage="@bind(vm.pagingModel.curentPage)"
							pageSize="@bind(vm.pagingModel.pageSize)"
							totalSize="@bind(vm.pagingModel.totalSize)" />
						<listbox vflex="1" emptyMessage="no DMR "
							onSelect="@command('select')" selectedItem="@bind(vm.selected)"
							model="@bind(vm.dancerList)">
							<listhead>
								<listheader label="DMR" />
							</listhead>
							<template name="model">
								<listitem>
									<listcell>
										<vbox hflex="1">
											<label
												style="font-weight:bold"
												value="@bind(x:maxCombine(0,['%s | %s | %s',each.id, each.originator.name, each.userReference].toArray()))" />
											<label
												value="@bind(each.businessNeed)" multiline="true" />
											<html
												content="@bind(c:toUpperCase(each.status.code.name))" />
										</vbox>
									</listcell>
								</listitem>
							</template>
						</listbox>
					</div>
					<div id="isiTab" hflex="7" vflex="1">
						<hlayout>
							<button sclass="btn-primary btn-mini"
								zclass="btn" label="DMR"
								w:onClick="navigateDecision('dancer_view')" />
							<button sclass="btn-success btn-mini"
								zclass="btn" label="Comment"
								w:onClick="navigateDecision('dancer_comment')" />
							<button sclass="btn-success btn-mini"
								zclass="btn" label="Decision"
								w:onClick="navigateDecision('dancer_decision_point')" />
							<button sclass="btn-primary btn-mini"
								zclass="btn" label="Statuses" />
						</hlayout>
						<div vflex="1" style="">
							<include dancerId="@load(vm.selected.id)"
								id="inclDecision" />
						</div>
					</div>
				</hlayout>
			</div>
		</div>
	</window>
	<script type="text/javascript">
		var navigateDecision=function(id,qparam){ var
		path=routes[id].path+((qparam)?('?'+qparam):''); var
		wgt=zk.Widget.$(jq("$inclDecision")); zAu.send(new
		zk.Event(wgt,"onRoute", {"":{"path":path,"routeId":id}},
		{toServer:true})); var display=routes[id].display;
		//jq("$menuSaatIni")[0].innerHTML=display;

		}
	</script>
</zk>